<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include common-head.html -%}
    {%- include head-icons-rel.html -%}
    {%- assign __path = '/assets/css/blog.css' -%}
    {%- include snippets/prepend-baseurl.html -%}
    <link rel="stylesheet" href="{{ __return }}">
    <style>
    {%- if page.picture_frame == 'shadow' -%}
      .m-article-content img:not(.emoji) {
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
      }
    {%- endif -%}
    </style>

    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{- site.google_analytics -}}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{- site.google_analytics -}}');
	</script>
	<!--Auto push to baidu-->
	<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!--JSON_LD for baidu-->
<script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "https://seanwangjs.github.io{{ page.url }}",
            "appid": "1590917239121345",
            "title": "{{ page.title }}",
            "description": "{{ page.description }}",
            "pubDate": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}"{%- if page.modify_date -%},
			
            "upDate": "{{ page.modify_date | date: "%Y-%m-%dT%H:%M:%S" }}"
			{%- endif -%}
        }
    </script>
<!--google adsense-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4053098847910397",
    enable_page_level_ads: true
  });
</script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4053098847910397",
          enable_page_level_ads: true
     });
	</script>
  </head>
  <body>


  <div class="m-page-stage js-page-stage">{{ content }}</div>
    {%- include blog/footer.html -%}
    <script>
      $(function() {
        // display coding language
        $(".highlight").each(function() {
          $(this).attr("data-lang", $(this).find("code").attr("data-lang"));
        });
      });
    </script>
    {%- include utils/mermaid.html -%}
    {%- if site.isdebug == false -%}
      {%- include utils/google-analytics.html -%}
    {%- endif -%}
  </body>
</html>
